/easy-notes
*.exe
*.exe~
*.dll
*.so
*.dylib

bin/

*.test
*.out
coverage.html
coverage.out

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/
.idea/
*.swp
*.swo
*~
.#*
\#*#

notes.json
*.tmp
